body{
    background-color: #AAAAAA; /* Used a color palette picker to find a color, wanted to choose something close to gray */
}
hr{
    color: ghostwhite; /* Pulled a line break from our CSS and HTML intro notes. Like the look of breaking the footer and main content. */
}
header{ 
    text-align: center;
    padding: 20px;
    background-color: #B7999C;
    margin: 25px 25px 25px;
    border-radius: 5px;
    font-size: 36px;
}/* 
    Borrowing from Replit notes, used my process to center and enlarge text of heading.
*/
nav{
    background-color: #5B8266;
}